{% extends 'base.html' %}

{% block content %}
    user: {{ current_user }}<br/>
    room: {{ room_name }}<br/>
    status: <span id="chat-status"></span><br/>
    <div id="chat-log"></div>
    <input id="chat-message-input" type="text" size="140"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
{% endblock content %}

{% block script %}
    <script>
        const messagesLimit = {{ messages_limit }};

        const dateFormatOptions = {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'};

        const getBrowserLanguage = function () {
            if (navigator.languages != undefined)
                return navigator.languages[0];
            return navigator.language;
        }

        const roomName = JSON.parse(document.getElementById('room-name').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);

            const chatLogElm = $("#chat-log");

            for (message of data) {
                if (message.model == 'chat.message') {
                    new_message = '<div>';
                    new_message += '<span class="message_creation_date">' + message.fields.created_at + '</span>';
                    new_message += '<span class="username">user_id: ' + message.fields.sender + '</span> ';
                    new_message += '<span class="message_content">' + message.fields.content + '</span>';
                    new_message += '</div>'

                    chatLogElm.append(new_message)
                }
            }

            const children = chatLogElm.children();
            const childrenOver = children.length - messagesLimit;

            for (var i = 0; i < childrenOver; i++) {
                children[0].remove();
            }

        };

        chatSocket.onopen = function (e) {
            $('#chat-status').html("Connection open")
                .addClass("connection-open");
        };

        chatSocket.onclose = function (e) {
            $('#chat-status').html("Connection is closed. Please reload this page.")
                .addClass("connection-closed")
                .removeClass("connection-open");
            $('#chat-message-input').attr("disabled", true);
            $('#chat-message-submit').attr("disabled", true);
        };

        $('#chat-message-input').focus();
        $('#chat-message-input').on("keyup", (e) => {
            if (e.keyCode === 13) {
                $('#chat-message-submit').click();
            }
        })

        $('#chat-message-submit').on('click', (e) => {
            const messageInput = $('#chat-message-input');
            const message = messageInput.val();
            if (message.trim() != "") {
                chatSocket.send(JSON.stringify({
                    'message': message
                }));
            }

            messageInput.val('');
        });
    </script>
{% endblock script %}
